<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 1.打印SQL -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
    </settings>

    <!-- 2.指定一个包名，Mybatis会在包名下搜索需要的JavaBean -->
    <typeAliases>
        <package name="com.hxy.dao"></package>
    </typeAliases>

</configuration>